{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI Önerileri</title>
    <link rel="stylesheet" type="text/css" href="{% static 'diyet.css' %}">
</head>
<body>
    <div class="menu-btn">
        <i class="fas fa-bars fa-2x"></i>
    </div>

    <div class="container">
        <nav class="main-nav">
            <img class="logo" src="{% static 'logonew.png' %}">
        
            <ul class="main-menu">
                <li><a href="#">Ana Sayfa</a></li>
                <li><a href="#diyet1">Kilo Vermek İsteyenler için</a></li>
                <li><a href="#diyet2">Kilo Almak İsteyenler İçin</a></li>
                <li><a href="#diyet3">Şeker Hastaları İçin</a></li>
                <li><a href="#">Yapay Zeka</a></li>
            </ul>
        
            <ul class="right-menu">
                <li>
                    <a href="#">
                        <i class="fas fa-search"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>
            </ul>
        </nav>

        <h1>BMI Önerileri</h1>

        <form method="post" action="{% url 'bmi_recommendations' %}">
            {% csrf_token %}
            <label for="height">Boy (metre):</label>
            <input type="text" id="height" name="height" required>
            <br>
            <label for="weight">Kilo (kg):</label>
            <input type="text" id="weight" name="weight" required>
            <br>
            <button type="submit">Hesapla</button>
        </form>

        {% if user_bmi %}
            <h2>BMI Değeriniz: {{ user_bmi }}</h2>

            <h2>Önerilen Tarifler</h2>
            <ul>
                {% for recipe in recipes %}
                    <li>{{ recipe.name }}</li>
                {% endfor %}
            </ul>

            <h2>Önerilen Workoutlar</h2>
            <ul>
                {% for workout in workouts %}
                    <li>{{ workout.name }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <footer class="footer">
        <div class="footer-inner">
            <div><i class="fas fa-globe fa-2x"></i> Türkçe</div>
            <ul>
                <li><a href="#">Site Haritası</a></li>
                <li><a href="#">Bize Ulaşın</a></li>
                <li><a href="#">Gizlilik & Çerezler</a></li>
                <li><a href="#">Kullanım Şartları</a></li>
                <li><a href="#">Markalar</a></li>
                <li><a href="#">Güvenlik & Ekoloji</a></li>
                <li><a href="#">&copy; SağlıklıYaşam 2024</a></li>
            </ul>
        </div>
    </footer>
</div>

<script src="https://kit.fontawesome.com/a076d05399.js"></script>

</body>
</html>
