<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Sağlıklı Yaşam İpuçları</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <style>

        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
            text-align: left;
        }
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
        .baslik{
            margin-top: 10%;
        }
    </style>
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'home.css' %}" rel="stylesheet">

</head>

<body>
    {% load static %}
    <!-- ======= Top Bar ======= -->
    <div id="topbar" class="d-flex align-items-center fixed-top">
        <div class="container d-flex justify-content-between">
            <div class="contact-info d-flex align-items-center">
                <i class="bi bi-envelope"></i> <a href="mailto:busenurb277@gmail.com">healife@iletisim.com</a>
                <i class="bi bi-phone"></i> +90 546 546 59 45
            </div>
            <div class="d-none d-lg-flex social-links align-items-center">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
        </div>
    </div>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto" style="color:#28a745 ;"><a href=" ">Healife</a></h1>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a href="{% url 'home' %}">Ana Sayfa</a></li>
                    <li><a href="{% url 'diets_page' %}">Diyet</a></li>
                    <li><a href="{% url 'training_page' %}">Egzersiz</a></li>
                    <li><a  href="{% url 'upload_file' %}">Gelişim</a></li>
                    <li><a href="{% url 'logout' %}" class="btn logout-btn">Çıkış Yap</a></li>               
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <main id="main">
        <section class="container my-5">
            <div class="content centered-content">
                <h1 class="mb-4" style="margin-top:8%"><br>BMI Önerileri</h1>
                <form method="post" action="{% url 'bmi_recommendations' %}">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <label for="height">Boy (metre):</label>
                        <input type="text" id="height" name="height" class="form-control" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="weight">Kilo (kg):</label>
                        <input type="text" id="weight" name="weight" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-green">Hesapla</button>
                </form>

                {% if user_bmi %}
                    <h2 class="mt-4">BMI Değeriniz: {{ user_bmi }}</h2>
                    {% if category %}
                        <h3>Kategori: {{ category.name }}</h3>
                        <h4>Önerilen Tarifler</h4>
                        <ul>
                            {% for recipe in recipes %}
                                <li><a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a></li>
                            {% endfor %}
                        </ul>
                        <h4>Önerilen Workoutlar</h4>
                        <ul>
                            {% for workout in workouts %}
                                <li><a href="{% url 'workout_detail' workout.pk %}">{{ workout.name }}</a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>Bu BMI değeri için uygun kategori bulunamadı.</p>
                    {% endif %}
                {% endif %}
            </div>
        </section>
    </main>

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>Healife</h3>
                        <p><br>
                            <strong>Phone:</strong> +90 546 546 59 45<br>
                            <strong>Email:</strong> healife@iletisim.com<br>
                        </p>
                    </div>
                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Faydalı Linkler</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Anasayfa</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Hakkımızda</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Hizmetler</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Kullanım Şartları</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Gizlilik Politikası</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Hizmetlerimiz</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Online Yaşam Koçluğu</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Sağlıklı Tarifler</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Egzersiz Planları</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Yapay Zeka Danışmanlığı</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Bültenimize Katılın</h4>
                        <p>En güncel sağlık ve yaşam ipuçlarını almak için bültenimize abone olun.</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Abone Ol">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container d-md-flex py-4">
            <div class="me-md-auto text-center text-md-start">
                <div class="copyright">
                    &copy; Copyright <strong><span>Healife</span></strong>. Tüm Hakları Saklıdır
                </div>
            </div>
            <div class="social-links text-center text-md-right pt-3 pt-md-0">
                <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
                <a href="#" class="google-plus"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </footer><!-- End Footer -->
    
    <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>
