<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'contact.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'logonew.png' %}">
</head>
<section id="contact">
    <div class="contact-box">
      <div class="contact-links">
        <h2>İLETİŞİM</h2>
        <div class="links">

        </div>
      </div>
      <div class="contact-form-wrapper">
        <form>
          <div class="form-item">
            <input type="text" name="sender" required>
            <label>Ad Soyad:</label>
          </div>
          <div class="form-item">
            <input type="text" name="email" required>
            <label>Email:</label>
          </div>
          <div class="form-item">
            <textarea class="" name="message" required></textarea>
            <label>Mesaj:</label>
          </div>
          <button class="submit-btn">Gönder</button>  
        </form>
      </div>
    </div>
  </section>