{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diyet Sayfası</title>
    <link rel="stylesheet" type="text/css" href="{% static 'diyet.css' %}">
</head>
<body>
    <body>
        <div class="menu-btn">
            <i class="fas fa-bars fa-2x"></i>
        </div>
        
        <div class="container">
            <nav class="main-nav">
                <img class="logo" src="{% static 'logonew.png' %}">
                <ul class="main-menu">
                    <li><a href="#">Ana Sayfa</a></li>
                    <li><a href="#">Sabah</a></li>
                    <li><a href="#">Öğle</a></li>
                    <li><a href="#">Akşam</a></li>
                    <li><a href="#">Ara Öğün</a></li>
                    <li><a href="#">Tatlılar</a></li>
                </ul>
                <ul class="right-menu">
                    <li>
                        <a href="#">
                            <i class="fas fa-search"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </li>
                </ul>
            </nav>
   <footer class="footer">
    <div class="footer-inner">
        <div><i class="fas fa-globe fa-2x"></i> Türkçe</div>
        <ul>
            <li><a href="#">Site Haritası</a></li>
            <li><a href="#">Bize Ulaşın</a></li>
            <li><a href="#">Gizlilik & Çerezler</a></li>
            <li><a href="#">Kullanım Şartları</a></li>
            <li><a href="#">Markalar</a></li>
            <li><a href="#">Güvenlik & Ekoloji</a></li>
            <li><a href="#">&copy; SağlıklıYaşam 2024</a></li>
        </ul>
    </div>
</footer>
</div>

<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>
