{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Şifre Sıfırlama</title>
    <link href="{% static 'login.css' %}" rel="stylesheet">
</head>
<body>
    <div class="kutu">
        <h2>Şifre Sıfırlama E-postası Gönderildi</h2>
        <p style="color: white; font-size: 15px;">Eğer bu e-posta adresine kayıtlı bir hesap varsa, şifre sıfırlama talimatlarını içeren bir e-posta gönderilmiştir.</p>
        <p style="color: white; font-size: 15px;">Lütfen e-postanızı kontrol edin.</p>
        <p class="kayit-yazi"><a href="{% url 'login' %}">Giriş Yap</a></p>
    </div>
</body>
</html>
{% endblock %}
