{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yeni Şifre Belirle</title>
    <link href="{% static 'login.css' %}" rel="stylesheet">
</head>
<body>
    <div class="kutu">
        <h2>Yeni Şifre Belirle</h2>
        <form style="color: white;" method="post" class="form-giris">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="girisbuton">Şifreyi Sıfırla</button>
        </form>
    </div>
</body>
</html>
{% endblock %}
